@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    background-color: rgb(225, 236, 225);
    padding: 20px 70px 20px 20px;
    margin: 20px;
    min-width: 700px;
    max-width: 1500px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

ul{
    list-style: none;
    display: flex;
}

li{
    margin: 0 20px;
    font-size: 14px;
}

li:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #222;
}

a:hover{
    color: #777;
    transform: translateY(-3px);
}

h3{
    font-size: 30px;
}

.btn1{
    width: 100px;
    height: 34px;
    border: none;
    border-radius: 17px;
    background-color: black;
    color: azure;
    font-size: 16px;
}

button:active{
    transform: scale(0.98);
}

.bd1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    width: 45%;
}

.divimg1{
    width: 45%;
}

.btns{
    display: flex;
    margin: 30px 0;
}

.makro{
    font-size: 35px;
    letter-spacing: 2px;
}

.btn2{
    width: 200px;
    height: 40px;
    border: none;
    background-color: rgb(112, 160, 112);
    border-radius: 3px;
    color: white;
    font-size: 15px;
}

.ee{
    margin: 20px 0;
    font-size: 13px;
    line-height: 25px;
}

.btn2:hover{
    background-color: rgb(144, 185, 144);
}

.btn3{
    width: 150px;
    height: 40px;
    border: 2px solid #444;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 15px;
}

.hh{
    margin-bottom: 10px;
}

.btn3:hover{
    background-color: #dbdbdb;
}

.btn3:active{
    border: 2px solid black;
}

.qqq{
    width: 20px;
    margin-right: 5px;
}

.img22{
    width: 400px;
}

.ww{
    margin-top: 30px;
    font-size: 40px;
}

aside{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 30px;
    min-width: 700px;
    max-width: 1500px;
}

.asideright{
    width: 50%;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: #f1f1f1;
    width: 700px;
    margin-left: 20px;
    min-width: 1000px;
}

.bottom{
    display: flex;
}

.bottom1{
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    height: 100px;
    width: 300px;
    padding-top: 20px;
    padding-right: 10px;
}

.bottom2{
    border-top: 1px solid #999;
    height: 100px;
    width: 300px;
    padding-top: 20px;
    padding-left: 20px;
}

.hh3{
    width: 400px;
    text-align: center;
    margin-top: 20px;
}

.rr{
    width: 120px;
    height: 35px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
}

.ll{
    color: #666;
    font-size: 16px;
    font-weight: 700;
}